body,html {
    height: 100%;
}
.head {
        /*background-image: url("Netflix-Background.jpg");*/
        background: linear-gradient(rgba(0, 0, 0, 0.603),rgba(0, 0, 1, 0.648)),url("Netflix-Background.jpg");
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        background-size: cover;
}
.head img{
    height: 35px;
    width:110px;
    padding: 15px 0 0 25px;
    position: relative;
}
.lang{color: white;
      font-size: 20px;
      float: right;
      top: -70px;
      right: 200px;
      position: relative;
      padding: 15px;
      border: 2px solid white;
}
.sign{
    color: white;
    font-size: 20px;
    float: right;
    top: -60px;
    right: 5px;
    position: relative;
    padding: 5px;
    border: 1px solid red;
    background-color: red;
    border-radius: 2px;
}
.Main-content{
    position: relative;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Main-content .main1{
    position: relative;
    font-size: 45px;
    right: -77px;
    top: 110px;
    text-align: center center;
}
.Main-content .main2{
    position: relative;
    font-size: 30px;
    right: -40px;
    top: 115px;
}
.Main-content .main3{
    position: relative;
    font-size: 20px;
    right: -50px;
    top: 120px;
}
.form{
    position: relative;
    text-align: center;
    top: 130px;
}
#button{
    color: white;
    font-size: 30px;
    background-color: red;
    height: 50px;
    border: 2px solid red;
}